@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600;700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,100;0,300;1,400;1,900&display=swap');
:root {

    --font-color: #000000;
    --bg-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[data-theme="dark"] {

    --font-color:  white;
    --bg-color: #0c0b23;
}


    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: rgb(190, 190, 230);
}

input:checked + .slider:before {
  transform: translateX(25px) !important;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
html {
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: var(--bg-color);
    color: var(--font-color) !important;
}



/* .container {
    
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 20px;
   

} */

.logo {
    cursor: pointer;
}

.scroll-to-top {
    position: relative;
}

.btn-position {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 20;

}

.btnstyle {
    background-color: rgb(95, 174, 179);
    border: none;
    border-radius: 7px;
    font-weight: lighter;
    height: 40px;
    width: 40px;
    color: #fff;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 99;
}

.btnstyle {
    transition-timing-function: ease;
}

.btnstyle.active {
    opacity: 1;
}


.navigation {
    position: sticky;
    z-index: 9999;
    top: 0;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111 !important;
    font-family: sans-serif;
}

.menu_hover ul {
    /* padding: 10px; */
    list-style-type: none;
}

.menu_hover ul li:hover {
    background-color: rgb(197, 180, 180);
    color: #000000 !important;
}

.menu_hover ul li {
    padding: 3%;
}

.menu_hover {
    border-top: 2px solid #ee4266;
    opacity: 0;
    position: absolute;
    top: 80px;
    background-color: #222222 !important;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: 0.5s;


}

.menu_hover::before .menu_hover {
    transition: 5s;
}


.dropdown:hover .menu_hover {
    opacity: 1;
}

.dropdown:hover .icon_animate {
    transform: rotate(180deg);
}


.menu {
    display: inline-flex;
    list-style-type: none;
    padding: 0px 20px
}

.menu li {
    margin: 0 20px;
    /* padding: 0px 20px; */
    /* background-color: red; */
    z-index: 2000;
}


.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 8px 0px;
}


a::before,
a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

a::before {
    background-color: #d43e3e;

    height: 1px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #000000;
}

a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}


.logo {
    max-width: 70px;
}

.logo img {
    width: 100%;
}

/* ============================================= */
/* .show_case {
    min-height: 100vh;
    width: 100%;
    margin: 1% 0;
} */

.img {
    width: 100% !important;
}

.services {
    text-align: center;
    font-size: 2em;
}

.banner {
    font-family: sans-serif;
    color: rgb(236, 37, 37);
    font-weight: bolder;
}

.part-1 {
    display: flex;
    margin: 4%;
    padding: 7% 0px;
}

.infor {
    flex: 50%;
    padding: 40px;
    line-height: 1.5em;
}

.infor p {
    font-size: 1.2em;
    font-family: sans-serif;
}

.img_infor {
    flex: 50%;
    border: 2px solid orange;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.img_infor img {
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 100%;
    position: relative;
    top: 20%;
    right: 10%;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;

}

.img_infor :hover {
    transform: rotate(15deg);
    /* width: 80%; */

}

.infor span {
    font-family: sans-serif;
    font-size: 2em;
    color: #ee4423;

}

.side-bar-icon {
    font-size: 2em;
    position: relative;
    right: 25%;
}

.side-bar-icon {
    display: none;
    cursor: pointer;
}

.side-bar-icon:hover {
    transform: rotate(90deg);
    transition: all 0.6s;
}

footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    background: #000;
    border-top: 0.05208vw solid #8a4fff;
}

.copyright {
    display: block;
    font-size: 20px;
    margin: auto;
    padding: 30px;
    font-family: roboto;
}

.infor p {
    padding: 10px 0px;
}

.btn-contact {
    font-size: 15px;
    border: 1px solid #EE6C4D;
    cursor: pointer;
    padding: 20px;
    background-color: #EE6C4D;

}

.btn-contact:hover {
    transition: all 0.5s;
    background-color: #de4a25;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.camket {
    width: 100%;
    display: flex;
    background-color: #212529 !important;
}

.camket img {
    width: 100%;
}

.camket_1 h2 {
    font-size: 2em;
}

.camket_1 {
    font-size: 20px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    padding: 5%;
    flex: 50%;
}

.camket_1 p {
    padding: 10px;
}

.camket_2 {
    padding: 5%;
    flex: 50%;
}

.fa-check-circle {
    color: #adc821;
    margin: 0px 15px;
}

.swiper {
    width: 90%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    

}

.MOBILE {
    display: none;
}


/* zalo */
.zalo {
    position: fixed;
    bottom: 100px;
    right: 40px;

    width: 10px;
    color: #fff;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    animation: fb 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.zalo img {
    width: 50px;
}

.fb {
    position: fixed;
    bottom: 180px;
    right: 40px;
    width: 10px;
    color: #fff;
    cursor: pointer;
    /* transition: all 0.5s ease-in-out; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    animation: fb 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.fb img {
    width: 50px;
}

.wrapper-side-bar ul {
    list-style: none;
}

.wrapper-side-bar ul li {
    background: #111 !important;
    padding: 20px;
    margin: 0 30px;
    display: block;
}



.wrapper-side-bar ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
    position: absolute;
    opacity: 0;
    width: 350px;
    height: 100%;
    top: 0;
    left: -400px;
    overflow: hidden;
    position: fixed;
    background: #111 !important;
    z-index: 999999999;
    transition: 0.5s;
}

.enter {
    opacity: 1;
    left: 0;
}

.close-menu {
    color: white;
    margin: 3%;
    text-align: right;
}

.close {
    cursor: pointer;
}

.xem_them_1,
.xem_them_2,
.xem_them_3,
.xem_them_5 {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content,
.modal_content_2,
.modal_content_3 {
    padding: 3%;
    margin: 5% auto;
    width: 50%;
    background-color: white;
}

.icon_animate {
    transition: 0.5s;
}



.marque {
    padding: 10px 5%;
}

marquee {


    font-family: 'Roboto Mono', monospace;

    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    padding: 15px 20px;
    border: 1px solid black;
}

.footer-wrap {
    display: flex;
}

.fter-1 {
    padding: 20px;
    flex: 70%;
}

.fter-2 {
    padding: 20px;
    flex: 30%;

}

.img_smartkey_oto {
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.img_smartkey_oto img {
    width: 100%;

    transition: all 1s;
    cursor: pointer;
}

/* .img_smartkey_oto img:hover{
    transform: scale(110%);
    
} */
.content-smk {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.services_menu_item {
    display: none;
}



.smart_key_product_item {
    display: flex;
    text-transform: uppercase;
    font-family: 'Anek Latin', sans-serif;
    
    
}

.item_product {
    text-align: center;
    margin: 5% 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    flex: 25%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.btn-contact-2 {
    display: none;
    margin: 2% 0px;
    font-size: 15px;
    border: 1px solid #EE6C4D;
    cursor: pointer;
    padding: 10px;
    background-color: #EE6C4D;

}

.btn-contact-2:hover {
    transition: all 0.5s;
    background-color: #de4a25;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.item_product:hover{
    padding: 25px;
    background: #8f95d0;
}
.item_product:hover .btn-contact-2{
    position: relative;
    left: 22%;
    display: block;
}
.content {
    padding: 10px 5%;
}

.item_product {
    width: 100%;
    height: 100%;
}

.img_item_smartKey img {

    display: block;
    width: 100%;
    height: 244.39px;
    object-fit: cover;
    padding: 5px;
}





.banner {
    font-family: sans-serif;
    color: rgb(236, 37, 37);
    font-weight: bolder;
}

.part-1 {
    display: flex;
    margin: 4%;
    padding: 7% 0px;
}

.infor {
    flex: 50%;
    padding: 40px;
    line-height: 1.5em;

}

.infor p {
    font-size: 1.2em;
    font-family: sans-serif;
}

.img_infor {
    flex: 50%;
    border: 2px solid orange;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.img_infor img {
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 100%;
    position: relative;
    top: 20%;
    right: 10%;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;

}

.img_infor :hover {
    transform: rotate(15deg);
    /* width: 80%; */

}

.infor span {
    font-family: sans-serif;
    font-size: 2em;
    color: #ee4423;

}

.side-bar-icon {
    font-size: 2em;
    position: relative;
    right: 25%;
}

.side-bar-icon {
    display: none;
    cursor: pointer;
}

.side-bar-icon:hover {
    transform: rotate(90deg);
    transition: all 0.6s;
}

footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    background: #000;
    border-top: 0.05208vw solid #8a4fff;
}

.copyright {
    display: block;
    font-size: 20px;
    margin: auto;
    padding: 30px;
    font-family: roboto;
}

.infor p {
    padding: 10px 0px;
}

.btn-contact {
    font-size: 15px;
    border: 1px solid #EE6C4D;
    cursor: pointer;
    padding: 20px;
    background-color: #EE6C4D;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.btn-contact:hover {
    transition: all 0.5s;
    background-color: #de4a25;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.camket {
    width: 100%;
    display: flex;
    background-color: #212529 !important;
}

.camket img {
    width: 100%;
}

.camket_1 h2 {
    font-size: 2em;
}

.camket_1 {
    font-size: 20px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    padding: 5%;
    flex: 50%;
}

.camket_1 p {
    padding: 10px;
}

.camket_2 {
    padding: 5%;
    flex: 50%;
}

.fa-check-circle {
    color: #adc821;
    margin: 0px 15px;
}



.wrapper-side-bar ul {
    list-style: none;
}

.wrapper-side-bar ul li {
    background: #111 !important;
    padding: 20px;
    margin: 0 30px;
    display: block;
}



.wrapper-side-bar ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.side-bar {
    position: absolute;
    opacity: 0;
    width: 350px;
    height: 100%;
    top: 0;
    left: -400px;
    overflow: hidden;
    position: fixed;
    background: #111 !important;
    z-index: 999;
    transition: 0.5s;
}

.enter {
    opacity: 1;
    left: 0;
    z-index: 99999999;
}

.close-menu {
    color: white;
    margin: 3%;
    text-align: right;
}

.close {
    cursor: pointer;
}

.xem_them_1,
.xem_them_2,
.xem_them_3 {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content,
.modal_content_2,
.modal_content_3 {
    padding: 3%;
    margin: 5% auto;
    width: 50%;
    background-color: white;
    color: black !important;
}

.icon_animate {
    transition: 0.5s;
}



.marque {
    padding: 10px 5%;
}

marquee {


    font-family: 'Roboto Mono', monospace;

    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    padding: 15px 20px;
    border: 1px solid black;
}

.footer-wrap {
    display: flex;
}

.fter-1 {
    padding: 20px;
    flex: 70%;
}

.fter-2 {
    padding: 20px;
    flex: 30%;

}

.img_smartkey_oto {
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.img_smartkey_oto img {
    width: 100%;

    transition: all 1s;
    cursor: pointer;
}

/* .img_smartkey_oto img:hover{
    transform: scale(110%);
    
} */
.content-smk {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.services_menu_item {
    display: none;
}



.smart_key_product_item {
    display: flex;
    text-transform: uppercase;
    font-family: 'Anek Latin', sans-serif;
    
    
}

.item_product {
    text-align: center;
    margin: 5% 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    flex: 25%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.btn-contact-2 {
    display: none;
    margin: 2% 0px;
    font-size: 15px;
    border: 1px solid #EE6C4D;
    cursor: pointer;
    padding: 10px;
    background-color: #EE6C4D;

}

.btn-contact-2:hover {
    transition: all 0.5s;
    background-color: #de4a25;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.item_product:hover{
    padding: 25px;
    background: #8f95d0;
}
.item_product:hover .btn-contact-2{
    position: relative;
    left: 25%;
    display: block;
}
.content {
    padding: 10px 5%;
}

.item_product {
    width: 100%;
    height: 100%;
}

.img_item_smartKey img {

    display: block;
    width: 100%;
    height: 244.39px;
    object-fit: cover;
    padding: 5px;
}




@media only screen and (max-width: 1000px) {
    
    .item_product:hover .btn-contact-2{
        position: relative;
        left: 27%;
        display: block;
    }
    .smart_key_product_item {
        flex-direction: column;
    }

    .centered {
        font-size: 25px;
    }

    .modal_content {
        width: 100%;
    }

    .modal_content_2 {
        width: 100%;
    }

    .modal_content_3 {
        width: 100%;
    }

    .img_smartkey_oto img {
        width: 150px;
        height: 150px;
    }

    .footer-wrap {
        flex-direction: column;
    }

    .part-1 {
        flex-direction: column;
    }

    .menu {
        display: none;
     
    }
    

    .side-bar-icon {
        display: block;
    }

    .img_infor img {
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
    }

    .camket_2 {
        display: none;
    }

    .banner {
        font-size: 25px;
    }

    .infor span {
        font-size: 22px
    }

    .infor p {
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .camket_1 p {
        font-size: 15px;
    }

    /* .collapse {
        display: none;
    } */

    .MOBILE {
        display: block;
    }

    .copyright {
        padding: 10px;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: bolder;
    }

    .services_menu_item {
        font-size: 13px;
    }

    /* .dark-mode-btn-mobile{
        display: block;
    } */
}
