@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

main {
  /* margin: 0px 60px; */
}

header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: white;

}

.Social-media {
  width: 100%;
  margin: 5px 0px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(228, 215, 215);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.link-icon {
  display: flex;
}

.link-icon i {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgb(184, 181, 181);
  background: rgb(236, 232, 232);
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  padding: 15px 0;
}

.menu-nav {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid rgb(228, 215, 215);
}

.menu-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.menu-nav li a {
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.Searching{
  flex: 60%;
}
.Searching-nav-bar input{
  padding: 15px 10px;
  margin: 5px 20px;
  width: 90%;
}

.x-searching {
  position: absolute;
  top: 28px;
  right: 28%;
  display: none;
  cursor: pointer;
}

.logo {
  flex: 20%;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
}

.logo img {
  max-width: 55px;
}
.language {
  /* width: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.language img{
  width: 30px !important;
  margin: 0px 10px;
}

.All:hover .all_refresh{
  transform: rotate(180deg);
  transition: all 0.5s;
}
.infor {
  flex: 10%;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.infor div {
  flex: 33%;
}

/* input Search */
#myInput {
  background-image: url('	https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}

#myInput:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.default_margin {
  margin: 0px 50px;
}

/* Section */
.section {
  margin-top: 15px;
  margin-bottom: 15px;

}



/* swiper */
.swiper {
  width: 100%;
  height: 35vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  background-position: center !important;
  background-size: cover !important;
  object-fit: cover !important;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Brand */
.brand_container {
  display: flex;
  justify-content: space-around;
}

.brand_item {
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px 0px;
  border-radius: 15px;
  flex: 25%;
  border: 0.5px solid rgb(211, 206, 206);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.brand_item:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  transition: all 0.5s;
  cursor: pointer;
}

.brand_item_wrapper {
  display: flex;
  padding: 5px;

}

.brand_item_wrapper .picture-item {
  flex: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}

.picture-item img {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(177, 171, 171);
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.text-item {
  flex: 70%;
  text-align: left;
  margin-left: 10px;
}

.title-item {
  font-size: 13px;
  padding-bottom: 30px;
}

.title-item h2 {
  /* font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.more-item {
  color: #fbcbcb;
}

/* Product */
.list_product_wrapper {
  display: flex;
  justify-content: space-between;
}

.CATEGORIES-product {
  flex: 25%;
  height: 100%;
  margin: 40px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-right: 55px;
}

.CATEGORIES-product ul {
  margin: 20px 0;
  list-style-type: none;
}

.CATEGORIES-product li {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  margin: 40px 20px;
  text-align: center;
}

.CATEGORIES-product ul :hover {
  border-radius: 10px;
  transform: scale(110%);
  transition: all 0.5s;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px; */
  cursor: pointer;
}

.CATEGORIES-product a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #8d8c8c;
}

.Product-item {
  flex: 75%;
  margin: 40px 0px;
}

.All {
  margin: 20px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

/* Product right */
.Product-right {
  display: flex;
}

.list-Product-right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 15px;
}

.menu-nav-toggle {
  display: none;
}

.item-card-product {
  list-style-type: none;
  /* width: 100%; */
  border: 0.5px solid #dfdbdb;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item-card-product:hover {
  border: 1px solid red;
  transition: all 0.5s;
  cursor: pointer;
}

.item-card-product a {
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.item-card-product li {
  list-style-type: none;
}

.content-item {

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #615f5f;
  font-weight: lighter;
  padding: 10px 0px;

}

.item-card-product .cost {
  color: #ff8ea8;
  font-family: sans-serif;
}

.img-product {
  /* width: 50%; */
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-product img {
  width: 100px;
  height: 100px;
}

.Product-img-text {
  display: flex;
  justify-content: space-around;
}

.text-product {
  width: 50%;
  padding: 5px;
}


/* Footer */
footer {
  width: 100%;
  height: 100%;
  background: #c6c8ca
}

.footer-container {
  display: flex;
}

.left-footer {
  text-align: center;
  color: black;
  font-size: 2vw;
  flex: 60%;
  font-family:fantasy; 
}

.right-footer {
  flex: 40%;
}

.left-footer,
.right-footer {
  padding: 20px;
  margin: 20px 0;
}

/*  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(117, 89, 104, 0.38);
  color: white;
  border-radius: 10px;
  padding: 25px;
  width: 30px;
}

.nav-main {
  list-style-type: none;
}

.nav-main:hover {
  background-color: rgb(207, 198, 198);
  transition: all 0.2s;
}

.x-toggle {
  color: rgb(155, 146, 146);
  margin-top: 25px;
  right: 0;
  position: absolute;

}

/* Map */
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 297px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  /* width: 100%; */
  height: 297px;
}

.gmap_iframe {
  height: 297px !important;
}

/* alert */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /* background-color: #fefefe; */
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* loader */
.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 300px;
  height: 300px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* PRODUCT */

.product_detail_item{
  display: flex;
  width: 100%;
}
.product_detail_item_img{
  flex: 50%;
  width: 100%;
  height: auto;
  text-align: right;
  margin-right: 4em;
}
.product_detail_item_img img{
  width: 350px !important;
  height: 350px !important;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border: 2px solid red;
  height: auto;
  /* max-width: 100%; */
  vertical-align: middle;
  
}
.confirmed_product{
  padding: 25px;
  border-radius: 10px;
  background-color: #f3ffeb;
  font-family: 'Roboto Serif', serif !important;
  font-size: 13px;
  width: 50%;
}
.name_product h1{
  font-family: 'Roboto Serif', serif !important;
  font-size: 20px;
}
.cost_product h2{
  font-family: 'Roboto Serif', serif !important;
  font-size: 20px;
  color: rgb(194, 23, 23);
  margin: 7px 0px;
  
  
}
.warn_product{
  background: #DCEDC8;
  padding: 10px;
  border-radius: 5px;
  margin: 8px 0px;
  color: #2E7D32;
  font-family: 'Roboto Serif', serif !important;
  font-size: 14px;
  width: 50%;
}
.warn_product a{
  text-decoration: none;
}
.product_detail_item_infor{
  flex: 50%;
  padding: 20px 15px;
}
.product_detail_item_infor li{
  margin-bottom: 0.6em;
}
.btn-contact{
  padding: 20px 0px;
}
.button-49,.button-49:after {width: 150px;height: 76px;line-height: 78px;font-size: 20px;font-family: 'Bebas Neue', sans-serif;background: linear-gradient(45deg, transparent 5%, #FF013C 5%);border: 0;color: #fff;letter-spacing: 3px;box-shadow: 6px 0px 0px #00E6F6;outline: transparent;position: relative;user-select: none;-webkit-user-select: none;touch-action: manipulation;}.button-49:after {--slice-0: inset(50% 50% 50% 50%);--slice-1: inset(80% -6px 0 0);--slice-2: inset(50% -6px 30% 0);--slice-3: inset(10% -6px 85% 0);--slice-4: inset(40% -6px 43% 0);--slice-5: inset(80% -6px 5% 0);content: 'ALTERNATE TEXT';display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;clip-path: var(--slice-0);}.button-49:hover:after {animation: 1s glitch;animation-timing-function: steps(2, end);}@keyframes glitch {0% {clip-path: var(--slice-1);transform: translate(-20px, -10px);}10% {clip-path: var(--slice-3);transform: translate(10px, 10px);}20% {clip-path: var(--slice-1);transform: translate(-10px, 10px);}30% {clip-path: var(--slice-3);transform: translate(0px, 5px);}40% {clip-path: var(--slice-2);transform: translate(-5px, 0px);}50% {clip-path: var(--slice-3);transform: translate(5px, 0px);}60% {clip-path: var(--slice-4);transform: translate(5px, 10px);}70% {clip-path: var(--slice-2);transform: translate(-10px, 10px);}80% {clip-path: var(--slice-5);transform: translate(20px, -10px);}90% {clip-path: var(--slice-1);transform: translate(-10px, 0px);}100% {clip-path: var(--slice-1);transform: translate(0);}}@media (min-width: 768px) {.button-49,.button-49:after {width: 200px;height: 86px;line-height: 88px;}}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width:900px) {
  .brand_container .special-brand {
    margin-right: 0px;
  }
 
}

@media only screen and (max-width: 900px) {
  .confirmed_product, .warn_product{
    width: auto;
  }
  .list-Product-right {
    grid-template-columns: repeat(2, 1fr);
  }

  .brand_container {
    flex-direction: column;
  }

  .special-brand {
    margin-left: 1px;
  }
  .product_detail_item{
    flex-direction: column;
  }
  .product_detail_item_img{
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  header .default_margin{
    margin: 0px 50px !important;
  }
  .swiper{
    height: 65vw;
    border-radius: 0px;
  }
  .default_margin{
    margin: 0px 0px !important;
  }
  .left-footer{
    display: none;
  }
  .item-grid-product{
    margin: 0px 0px;
  }
  .Product-img-text {
    flex-direction: column;
  }

  .list-Product-right {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .CATEGORIES-product{
        display: none;
    } */
  .list_product_wrapper {
    flex-direction: column;
  }

  .CATEGORIES-product {
    margin-right: 0px;
  }

  .menu-nav-main {
    display: none;
  }

  .menu-nav-toggle {
    display: block;
  }

  .menu-nav {
    justify-content: left;
  }

  .brand_item {
    margin-right: 0px;
  }

  .infor{
    display: none;
  }
  .Searching {
    display: none;
  }

  .logo {
    font-size: 20px;
  }

  .img-product img {
    width: 100% !important;
    /* height: 100% !important; */
  }

  .loader{
    width: 150px;
    height: 150px;
  }
  .Social-media{
    display: none;
  }
  .text-product{
    width: 100%;
  }
  .All {
    margin: 20px 15px;
  }
  .item-card-product a {
    font-size: 14px;
  }
  .content-item {
    font-size: 13px;
  }
}



@media screen and (max-height: 650px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}